*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #dff5e1, #f4fff4);
    min-height: 100vh;
    padding: 20px;
}

.card{
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.header{
    height: 170px;
    background: linear-gradient(
        rgba(46,125,50,0.7),
        rgba(102,187,106,0.7)
    ),
    url("../img/iconos/primera.jpeg");
    background-position: center;
}


.perfil{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.perfil img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.estado{
    position: absolute;
    bottom: 15px;
    right: 175px;
    width: 20px;
    height: 20px;
    background: #00c853;
    border-radius: 50%;
    border: 3px solid white;
}

.info{
    text-align: center;
    padding: 20px;
}

.info h2{
    color: #2e7d32;
    margin-bottom: 9px;
}

.info p{
    color: #666;
    font-size: 14px;
}


.dato{
    padding: 15px 25px;
}

.texto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
}

.texto span{
    color: #333;
}

.texto strong{
    color: #2e7d32;
}


.barra{
    width: 100%;
    height: 12px;
    background: #e0e0e0;
    border-radius: 30px;
}

.progreso{
    height: 100%;
    background-color: #22ac5b;
    border-radius: 30px;
    transition: 0.5s;
}

.boton{
    display: block;
    width: 85%;
    margin: 25px auto;
    text-align: center;
    text-decoration: none;
    background-color: #22ac5b;
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.boton:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgb(5, 5, 5);
}