<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<center>

    <body>
        <nav class="navbar">
            <div class="logo">Naturalnet</div>
            <div class="menu-links">
                <a href="../index.html">Inicio</a>
                <a href="../views/productos.html">productos</a>
                <a href="../views/sobre-nosotros.html">Autor</a>
                <a href="../views/contacto.html">Soporte</a>
            </div>
        </nav>
        <h1>Centro de Soporte</h1>

        <p>Si tienes alguna duda o problema, contáctanos.</p>

        <h2>Información de contacto</h2>

        <p>Correo: keilerserrano64@gmail.com</p>
        <p>Horario: Lunes a Viernes de 7:00 AM a 8:00 PM</p>

        <h2>Formulario de contacto</h2>

        <form>

            <label>Nombre:</label><br>
            <input type="text" required><br><br>

            <label>Correo:</label><br>
            <input type="email" required><br><br>

            <label>Mensaje:</label><br>
            <textarea rows="5" cols="30" required></textarea><br><br>

            <button type="submit">Enviar</button>

        </form>

        <hr>

        <footer>
            <p>&copy; 2026 EcoHuella Naturalista</p>
        </footer>
</center>
</body>

</html>