<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Ecológico</title>

    <link rel="stylesheet" href="perfil.css">
    <link rel="stylesheet" href="../css/da-tu-opinion.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <nav class="navbar">
        <div class="logo">Naturalnet</div>

        <div class="menu-links">
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">Productos</a>
            <a href="../views/sobre-nosotros.html">Autor</a>
            <a href="../views/contacto.html">Soporte</a>
            <a href="../views/da-tu-oponion.html">tu perfil</a>
        </div>
    </nav>

    <main class="card">

        <div class="header"></div>

        <div class="perfil">
            <img src="../img/iconos/WhatsApp Image 2026-05-29 at 4.09.43 PM.jpeg" alt="Foto de perfil">
            <div class="estado"></div>
        </div>

        <div class="info">
            <h2>keiler serrano</h2>
            <p>Naturalnet • Miembro desde 2026</p>
        </div>

        <div class="dato">
            <div class="texto">
                <span>🌳 Árboles Plantados</span>
                <strong>12 / 20</strong>
            </div>

            <div class="barra">
                <div class="progreso" style="width: 60%;"></div>
            </div>
        </div>

        <div class="dato">
            <div class="texto">
                <span>🌿 CO₂ Ahorrado</span>
                <strong>450 kg</strong>
            </div>

            <div class="barra">
                <div class="progreso" style="width: 85%;"></div>
            </div>
        </div>
        <div class="dato">
            <div class="texto">
                <span>💧 Agua Ahorrada</span>
                <strong>2.450 L</strong>
            </div>

            <div class="barra">
                <div class="progreso" style="width: 78%;"></div>
            </div>
        </div>


        <div class="dato">
            <div class="texto">
                <span>♻️ Residuos Reciclados</span>
                <strong>85 kg</strong>
            </div>

            <div class="barra">
                <div class="progreso" style="width: 55%;"></div>
            </div>
        </div>

        <div class="dato">
            <div class="texto">
                <span>⭐ Eco-Puntos</span>
                <strong>1250</strong>
            </div>

            <div class="barra">
                <div class="progreso" style="width: 40%;"></div>
            </div>
        </div>

        <a href="../index.html" class="boton">
            Ver Informe Completo
        </a>

    </main>

</body>

</html>