<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <link rel="stylesheet" href="../css/exame.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/sobre-nosotros.css">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<center>

    <body>
        <header>
            <nav class="navbar">
                <div class="logo">Naturalnet</div>
                <div class="menu-links">
                    <a href="../views/exame.html">articulos sobre la vida</a>
                    <a href="../index.html">Inicio</a>
                    <a href="../views/productos.html">productos</a>
                    <a href="../views/sobre-nosotros.html">Autor</a>
                    <a href="../views/contacto.html">Soporte</a>
                </div>
            </nav>
            <button class="keiler">𝒸𝓇𝑒𝒶𝓇 𝓅𝓊𝒷𝓁𝒾𝒸𝒶𝓈𝒾𝑜𝓃</button>

            <h1> galeria de imagenes selva</h1>
            <p> La naturaleza nos regala paisajes llenos de vida, color y tranquilidad. Cada árbol, flor y río refleja
                la
                belleza del mundo natural, invitándonos a cuidar y valorar el entorno que nos rodea.</p>
        </header>
        <section>
            <div class="revista-grid">
                <div class="bloque grande">
                    <img src="../img/iconos/imagen1_selva.png" alt="jh">
                    <p>En lo profundo de la selva, una hermosa cascada desciende entre rocas y vegetación exuberante.
                        Sus aguas cristalinas crean un paisaje lleno de tranquilidad, belleza y vida natural.</p>
                </div>

                <div class="bloque">
                    <img src="../img/iconos/imagen2_selva.png" alt="Selva">
                    <p>La selva es un lugar lleno de vida, donde árboles gigantes, plantas exóticas y animales conviven
                        en un entorno natural único y fascinante</p>
                </div>
                <div class="bloque">
                    <img src="../img/iconos/imagen3.png" alt="Montaña">
                    <p>El río fluye suavemente entre la naturaleza, llevando agua fresca y vida a su alrededor. Su
                        corriente crea un paisaje tranquilo y hermoso que inspira paz y admiración.</p>
                </div>
                <div class="bloque">
                    <img src="../img/iconos/imagen4.png" alt="Río">
                    <p>El jaguar es uno de los animales más imponentes de la selva. Con su fuerza, agilidad y hermoso
                        pelaje manchado, recorre el bosque como un símbolo de poder y majestuosidad.</p>
                </div>
            </div>
        </section>
    </body>
</center>

</html>