<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIOGRAFIA DEL CREADOR DE NATURALNET</title>
    <link rel="stylesheet" href="../css/sobre-nosotros.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/exame.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Naturalnet</div>
        <div class="menu-links">
            <a href="../views/exame.html">articulos sobre la vida</a>
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html">productos</a>
            <a href="../views/sobre-nosotros.html">Autor</a>
            <a href="../views/contacto.html">Soporte</a>
        </div>
    </nav>>
    <article class="bio-container">

       
        <header>
            
            <img src="../img/sobre nosostros/primera.jpeg" alt="Foto de keiler serrano" class="profile-img">
            <h1>keiler serrano</h1>
            <p class="subtitle">Biólogo y fundador de "Naturalnet"</p>
        </header>

     
        <section id="sobre-mi">
            <h2>Sobre Mí</h2>
            <p>
                Nací en una pequeña localidad rodeada de bosques, lo que despertó mi fascinación por el mundo natural
                desde que tengo memoria. Tras graduarme en Ciencias Biológicas, decidí que la investigación no debía
                quedarse solo en los laboratorios y artículos científicos, sino llegar a la comunidad.
            </p>
            <p>
                Con esa visión en mente, en 2026 fundé <a>Naturalnet</a>, una plataforma digital dedicada a la
                divulgación de la biodiversidad, la fotografía de conservación y la educación ambiental interactiva.
            </p>
        </section>

    
        <section id="trayectoria">
            <h2>Trayectoria y Logros</h2>
            <ul>
                <li><a>2024:</a> Graduado con honores en Biología, especializado en ecología de ecosistemas
                    terrestres.</li>
                <li><a>2026:</a> Lanzamiento oficial de la plataforma web <em>Naturalnet</em>, que hoy cuenta
                    con más de 50,000 usuarios mensuales.</li>
                <li><a>Presente:</a> Coordino expediciones de ciencia ciudadana para mapear especies en
                    peligro de extinción.</li>
            </ul>
        </section>


        <section id="mision">
            <h2>Mi Filosofía</h2>
            <blockquote>
                <p><em>"No podemos proteger aquello que no conocemos. La tecnología y la web son las mejores
                        herramientas que tenemos hoy para conectar a las personas con la tierra, recordándoles que somos
                        parte del mismo ecosistema."</em></p>
            </blockquote>
        </section>

        <footer>
            <p>NATURALNET | TODOS ESTAMOS CONTIGO</p>
        </footer>

    </article>

</body>

</html>